<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright (c) 2017 Marcin Szeniak (https://github.com/Klocman/)
	Apache License Version 2.0
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BulkCrapUninstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BulkCrapUninstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <BulkCrapUninstaller.Properties.Settings>
      <setting name="UninstallerListUseCheckboxes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UninstallerListUseGroups" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FilterHideMicrosoft" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdvancedDisableProtection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MiscFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdvancedIntelligentUninstallerSorting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UninstallerListViewState" serializeAs="String">
        <value />
      </setting>
      <setting name="ToolbarsShowToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarsShowSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FilterShowSystemComponents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowUseSystemTheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterShowProtected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterShowUpdates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MessagesRestorePoints" serializeAs="String">
        <value>Ask</value>
      </setting>
      <setting name="AdvancedSimulate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MiscVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MessagesRemoveJunk" serializeAs="String">
        <value>Ask</value>
      </setting>
      <setting name="MiscCheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackupLeftovers" serializeAs="String">
        <value>Ask</value>
      </setting>
      <setting name="MessagesAskRemoveLoudItems" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MiscFeedbackNagShown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MiscSendStatistics" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExternalPreCommands" serializeAs="String">
        <value />
      </setting>
      <setting name="ExternalPostCommands" serializeAs="String">
        <value>../CCleaner/CCleaner.exe /AUTO</value>
      </setting>
      <setting name="ToolbarsShowStatusbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExternalEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="MiscUserId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdvancedTestCertificates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdvancedTestInvalid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdvancedDisplayOrphans" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UninstallerListSortOrder" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="UninstallerListSortColumn" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UninstallerListShowLegend" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FoldersCustomProgramDirs" serializeAs="String">
        <value />
      </setting>
      <setting name="MiscAutoLoadDefaultList" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MiscUserRatings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MiscRatingCacheDate" serializeAs="String">
        <value>1990-01-01</value>
      </setting>
      <setting name="UninstallPreventShutdown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UninstallConcurrency" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UninstallConcurrentMaxCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UninstallConcurrentOneLoud" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UninstallConcurrentDisableManualCollisionProtection"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterShowStoreApps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuietRetryFailedOnce" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuietAutoKillStuck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuietAutomatization" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuietAutomatizationKillStuck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MiscNet4NagShown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterShowWinFeatures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MessagesShowAllBadJunk" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MiscFeedbackNagNeverShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScanWinUpdates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScanWinFeatures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScanSteam" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScanStoreApps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FoldersAutoDetect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScanDrives" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScanRegistry" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScanPreDefined" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackupLeftoversDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowTreeMap" serializeAs="String">
        <value>True</value>
      </setting>
    </BulkCrapUninstaller.Properties.Settings>
  </userSettings>
  
  <applicationSettings>
    <BulkCrapUninstaller.Properties.Settings>
      <setting name="_CacheUpdateRate" serializeAs="String">
        <value>2.00:00:00</value>
      </setting>
    </BulkCrapUninstaller.Properties.Settings>
  </applicationSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data></configuration>
