<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>CurrentDirectory</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Tiny</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>True</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>